<%- include('partials/header.ejs') -%>



<div class="px-4 py-1 my-2 text-center">
    <lord-icon
            src="https://cdn.lordicon.com/tyounuzx.json"
            trigger="loop"
            delay="2000"
            colors="primary:#121331,secondary:#08a88a"
            style="width:250px;height:250px">
    </lord-icon>
    <h1 class="display-5 fw-bold text-body-emphasis">Optica Naida</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Tu visión en manos expertas: Claridad y estilo a través de nuestras lentes. En Optica Naida , cuidamos de tu mirada con la más alta calidad y tendencias vanguardistas. Descubre una nueva perspectiva y atrévete a brillar con nuestros servicios personalizados.
            <br> ¡Vive la experiencia visual que mereces!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarCliente">Agregar Cliente</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarMarca">Agregar Marca Lentes</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarTipoLuna">Agregar Tipo Luna</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearFactura">Crear Factura</button>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="agregarCliente" tabindex="-1" aria-labelledby="agregarCliente" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCliente">Agregar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/addCliente" class="needs-validation"   method="post">
                    <div class="mb-3">
                        <label for="nombreCliente" class="form-label">Nombres Cliente</label>
                        <input type="text" name="nombreCliente" class="form-control" id="nombreCliente" aria-describedby="nombreCliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidoCliente" class="form-label">Apellidos Cliente</label>
                        <input type="text" name="apellidoCliente" class="form-control" id="apellidoCliente" aria-describedby="nombreCliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="cedulaCliente" class="form-label">Nr de Cedula</label>
                        <input type="number" name="cedulaCliente" class="form-control" id="cedulaCliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefonoCliente" class="form-label">Nr de Telefono</label>
                        <input name="telefonoCliente" type="number" class="form-control" id="telefonoCliente" minlength="10" maxlength="10" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="agregarMarca" tabindex="-1" aria-labelledby="agregarMarca" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCliente">Agregar Marca Lentes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/addLente" class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="nameMarca" class="form-label">Nombres Marca</label>
                        <input type="text" name="nameMarca" class="form-control" id="nameMarca" aria-describedby="nameMarca" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="agregarTipoLuna" tabindex="-1" aria-labelledby="agregarTipoLuna" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCliente">Agregar Tipo Luna</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/addTipoLuna" class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="nameTipoluna" class="form-label">Nombres Tipo Luna</label>
                        <input type="text" name="nameTipoluna" class="form-control" id="nameTipoluna" aria-describedby="nameTipoluna" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="crearFactura" tabindex="-1" aria-labelledby="crearFactura" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCliente">Crear Factura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/addTipoLuna" class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="nameTipoluna" class="form-label">Escoge el cliente</label>
                        <select class="form-control" name="idcliente" id="">
                            <option value="null" selected disabled>Escoge al cliente</option>
                            <% data.forEach(function(data) { %>
                                <option value="<%= data.idCliente %>"><%=data.nombreCliente%></option>
                            <% }); %>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary">Enviar</button>


                    
                </form>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="agregarLuna" tabindex="-1" aria-labelledby="agregarLuna" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>






<%- include('partials/footer.ejs') -%>

